:root {
  --color-gradient: linear-gradient(64.43deg, rgba(249, 219, 109, 0.1725) 0%, #F9DB6D 25.92%, rgba(196, 177, 131, 0.819773) 45.1%, rgba(102, 103, 171, 0.4985) 71.01%, rgba(27, 30, 208, 0) 99.52%);
  --color-yellow: #F9DB6D;
  --color-purple: #6667AB;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #D3D3D3;
}
.game-wrapper {
  padding: 15px;
  height: 120vh;
  background: var(--color-gradient);
}
.settings-section {
  padding-top: 1%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.count-section {
  margin-top: 2%;
  width: 90%;
  display: flex;
  align-items: center;
}
.point-count {
  margin: 0 46% 0 54%;
  font-size: 40px;
  color: var(--color-yellow);
}
.sprint-game-container {
  margin: 1% auto;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: var(--color-white);
}
.circles {
  display: flex;
  gap: 10px;
  width: 75px;
  height: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  background: var(--color-grey);
  border: none;
  border-radius: 50%;
}
.points-text {
  font-size: 12px;
  color: var(--color-black);
}
.english-word {
  font-size: 36px;
  font-weight: bold;
}
.russian-word {
  font-size: 32px;
}
.answer-btn {
  cursor: pointer;
  width: 106px;
  height: 42px;
  border: none;
}
.answers-button{
  display: flex;
  gap: 40px;
}
.wrong-answer-btn {
  background: var(--color-yellow);
}
.right-answer-btn {
  background: var(--color-purple);
}
.sound-icon {
  cursor: pointer;
  width: 38px;
  height: 28px;
}
.fullscreen-icon {
  cursor: pointer;
  width: 25px;
  height: 22px;
}
.close-icon {
  cursor: pointer;
  width: 20px;
  height: 22px;
}
.ok-icon {
  width: 33px;
  height: 29px;
}
.human-img {
  width: 80px;
  height: 40px;
}
.running-man {
  margin-right: 15%;
  width: 40px;
  height: 44px;
}

@media (max-width: 1280px) {
  .count-section {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .sprint-game-container {
    width: 350px;
    height: 350px;
    gap: 15px;
  }
}
@media (max-width: 320px) {
  .sprint-game-container {
    width: 250px;
    height: 350px;
    gap: 10px;
  }
  .answers-button{
    gap: 15px;
  }
  .answer-btn {
    width: 90px;
    height: 40px;
  }
  .point-count {
    margin: 0 43% 0 57%;
  }
}