@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Ubuntu:wght@500;700&display=swap');

:root {
  --wrapperBackground: url("../../../assets/img/background.jpg");
  --controlPanelSound: url("../../../assets/svg/unmute.svg");
  --controlFullScreen: url("../../../assets/svg/fullscreen.svg");
  --audioButtonImage: url('../../../assets/img/audio-image.png');
  --controlCloseGame: url('../../../assets/svg/close-audio-call.svg');
  --heart: url("../../../assets/svg/heart.svg");
  --color-white: white;
  --color-right: green;
  --color-mistakes: red;
  --color-negation-button: #ff0000;
  --color-hover-button: #e1e414;
  --color-word-button: white;
  --font-title: 'Ubuntu', sans-serif;
  --font-text: 'Cabin', sans-serif;
  --font-size-text: 16px;
  --font-size-main-text: 32px;
}
.none {
  visibility: hidden;
}
.wrapper {
  height: 630px;
  background-image: var(--wrapperBackground);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-panel {
  display: flex;
  justify-content: space-around;
}
.control-panel {
  width: 5%;
  display: flex;
  justify-content: space-between;
}
.control-fullscreen, .close-game {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.control-fullscreen:hover, .close-game:hover { 
  cursor: pointer;
}

.close-game {
  background-image: var(--controlCloseGame);
}

.control-fullscreen {
  background-image: var(--controlFullScreen);
}

.audio-button {
  width: 130px;
  height: 130px;
  border-radius: 50%;

  background-image: var(--audioButtonImage);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.negation-button:hover {
  cursor: pointer;
  border: 1px solid var(--color-mistakes);
  color: var(--color-mistakes);
}
.audio-button:hover {
  cursor: pointer;
  border: 1px solid var(--color-right);
}
.negation-button {
  width: 190px;
  height: 43px;
  background-color: inherit;
  border: 1px solid var(--color-negation-button);
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--color-negation-button);
}
.response-options {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.word {
  background-color: inherit;
  border: none;
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--color-word-button);
}
.word:hover {
  cursor: pointer;
  color: var(--color-hover-button);
}
.game-panel {
  height: 60%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.heart {
  width: 30px;
  height: 30px;
  background-image: var(--heart);
  background-repeat: no-repeat;
  background-size: 100%;
}
.key-word {
  color: var(--color-word-button);
  font-size: var(--font-size-main-text);
  font-weight: bold;
}
.level-buttons {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.level {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--color-white);
  background: inherit;
  color: var(--color-white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.level:hover {
  cursor: pointer;
  border: 1px solid var(--color-negation-button);
  background: var(--color-hover-button);
}

.level-block {
  display: flex;
}
.message {
  width: 100%;
  height: 1%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: var(--color-white);
  font-family: var(--font-title);
  font-size: 1rem;
  line-height: 2rem;
}
.life-counter {
  width: 30%;
  display: flex;
  gap: 5px;
}
.right {
  background-color: var(--color-right);
}
.mistakes {
  background-color: var(--color-mistakes);;
}
.right:hover, .mistakes.hover {
  color: var(--color-white);  
}

@media (max-width: 768px)  { 
  .wrapper {
    height: 800px;
  }
  .level-block {
    flex-wrap: wrap;
  }
  .response-options {
    width: 50%;
    height: 30%;
    justify-content: space-between;
    flex-direction: column;
  }
  .word {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  .control-panel {
    width: 15%;
  }
}